h1, h2 {
    font-family: 'Sacramento', cursive;

}
body {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-image: url(pawel-czerwinski-P8XV99FyzCk-unsplash.jpg);
}

.about {
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

li {
    background-color: rgb(63, 63, 63);
    font-family: 'Roboto', sans-serif;
}

a{
    color: white;
}

a:hover {
    color: lightgray;
}

#emailbutton:hover {
    color: white;
}

img {
    padding: 5px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }


footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgb(63, 63, 63);
    padding: 20px;
    margin-top: 20px;
    font-size: x-small;
    font-family: 'Roboto', sans-serif;
    color: white;
}
