
h1,
h2,
h3 {
  font-family: 'Leckerli One', cursive;
  color:#4D243D;
}
.jumbotron{
  background-color: #4D243D;
  color: white;
  width: 100%;
}
/* buttons on the welcome page */
#welcomeButton {
  background-color: #CA6680;
  border: none;
}

#welcomePageHeader{
  color: #E4B363;
}

body {
  background-color: #ECDCC9;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  /* background-image: url(images/pawel-czerwinski-P8XV99FyzCk-unsplash.jpg); */
}
section {
  margin-bottom: 20px;
}
#indexBody {
  background-color: #4D243D;
}
.about {
  background-color: #647aa3;
  color: #ECDCC9;
  padding: 5px;
  border-radius: 5px;
}
#secondParagraph {
  margin-bottom: 50px;
}
.nav-link {
  color: white;
}
a {
  color: black;
}

a:hover {
  color: gray;
  opacity: 0.7;
}

#emailbutton {
  background-color: #CA6680;
  padding: 10px;
  border-radius: 5px;
 border: none;
}

#pixel {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
}

#social {
  margin-top: 20px;
}
#portfolioPara {
  background-color: #647aa3;
  color: #ECDCC9;
  padding: 5px;
  border-radius: 5px;
  margin-top: 50px;
}

img {
  padding: 5px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
/* Font awesome icon styling*/
.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 5px;
}
i {
  color: #647aa3;
}
nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #4D243D;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 768px) {
#profileImg {
  width: 150px;
}
img {
  height: 150px;
}
section {
  margin-bottom: 20px;
}

.nav-link {
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
}
#portfolioPara{
  margin-top: 20px;
}
}
/* Form Styling 
form{
  margin-top: 25px;
  padding: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);

}
input {
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-size: small;
  font-family: "Roboto", sans-serif;
  color: lightgray;
  width: 90%;
} 

#submit {
  color: black;
  width: 30%;
} */
