
h1,
h2 {
  font-family: "Sacramento", cursive;
  color: #C0295A;
}
.jumbotron{
  background-color: #03045e;
  color: white;
}
/* buttons on the welcome page */
#welcomeButton {
  background-color: #C0295A;
  border: none;
}
/* #aboutMeHeader {


} */
body {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  /* background-image: url(images/pawel-czerwinski-P8XV99FyzCk-unsplash.jpg); */
}

.about {
  background: #b2b09b;
  padding: 5px;
  border-radius: 5px;
}
#secondParagraph {
  margin-bottom: 50px;
}

li {
  background-color: white;
  opacity: 75%;
  font-family: "Roboto", sans-serif;
  font-size: large;
  text-align: center;
  
}

a {
  color: black;
}

a:hover {
  color: gray;
  opacity: 0.7;
}

#emailbutton {
  background-color: rgb(63, 63, 63);
  padding: 10px;
  border-radius: 5px;
}

#pixel {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
}

#social {
  margin-top: 20px;
}

img {
  padding: 5px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
/* Font awesome icon styling*/
.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
/* Form Styling 
form{
  margin-top: 25px;
  padding: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);

}
input {
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-size: small;
  font-family: "Roboto", sans-serif;
  color: lightgray;
  width: 90%;
} 

#submit {
  color: black;
  width: 30%;
} */

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #C0295A;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}
